* {
  box-sizing: border-box; }

body {
  background-color: white;
  background: repeating-linear-gradient(-55deg, #f0c8c8, #f0c8c8 40px, #bebed2 40px, #bebed2 80px); }

main {
  margin: 0 auto;
  width: 100%;
  height: 100%; }

header {
  font-family: 'Special Elite', cursive;
  color: #636363;
  text-shadow: 2px 2px #636363;
  font-size: 60px;
  text-align: center;
  width: 80%;
  margin-bottom: 15px; }
  header.move1 {
    position: relative;
    animation: move1 5s ease-out 2s forwards; }
  header.move2 {
    position: relative;
    animation: move2 5s linear 2s forwards; }
  header.move3 {
    position: relative;
    animation: move3 5s ease-in 2s forwards; }
  header.move4 {
    position: relative;
    animation: move4 6s ease-in 7.5s forwards; }
  header.move5 {
    position: relative;
    animation: move5 5s linear 2s forwards; }
  header.move6 {
    position: relative;
    animation: move6 5s ease-out 2s forwards; }
  header.move7 {
    position: relative;
    animation: move7 5s ease-in 2s forwards; }
  header.move8 {
    position: relative;
    animation: move8 5s linear 2s forwards; }
  header.move9 {
    position: relative;
    animation: move9 5s ease-out 2s forwards; }
  header.move10 {
    position: relative;
    animation: move10 5s linear 2s forwards; }

section {
  display: none;
  width: 100%;
  visibility: visible;
  opacity: 1;
  animation: fade 0.5s; }
  section.intro {
    display: block; }

div {
  text-align: center; }
  div.music {
    height: 50px;
    width: 50px;
    position: fixed;
    top: 10px;
    right: 10px; }
    div.music p {
      color: rgba(99, 99, 99, 0.5); }
  div.masthead {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px; }
  div.control {
    background-color: #efb3b3;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 80px; }
  div.contents, div.timer, div.score {
    text-align: center;
    width: 280px;
    padding: 14px 10px 6px 10px; }
  div.timer {
    border: 1px solid #636363;
    background-color: #f2dede; }
    div.timer p.warning {
      color: red; }
  div.introtop, div.finaltop {
    padding: 50px;
    background-color: #d2d2e6;
    background: radial-gradient(circle, #d2d2e6, #bebed2, #aaaabe, #9696aa);
    animation: flowing 10s linear infinite;
    background-size: 400% 400%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  div.question {
    height: 450px;
    padding: 0 15px;
    background-color: #d2d2e6;
    background: radial-gradient(circle, #d2d2e6, #bebed2, #aaaabe, #9696aa);
    background-size: 400% 400%;
    animation: flowing 10s linear infinite; }
  div.instruction {
    color: white;
    padding: 15px 50px;
    height: 50px;
    text-align: right;
    animation: blink 8s ease-in-out infinite; }
  div.deinstruction {
    color: white;
    padding: 15px 50px;
    height: 50px;
    text-align: right;
    animation: deblink 8s ease-in-out infinite; }
  div.anagramboard {
    padding: 0 50px;
    height: 400px;
    font-family: 'Acme', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start; }
  div.anagramrow {
    margin: 0 5px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
  div.intromiddle {
    background-color: #f2dede;
    padding: 20px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  div.finalmiddle {
    background-color: #f2dede;
    padding: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  div.answer {
    height: 350px;
    background-color: #f2dede;
    background: radial-gradient(circle, #e696a0, #efb3b3, #f0c8c8, #f2dede);
    background-size: 400% 400%;
    animation: flowing 10s linear infinite; }
  div.answerboard {
    padding: 0 50px;
    height: 300px;
    font-family: 'Acme', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap; }
  div.introbottom, div.finalbottom {
    background-color: #d2d2e6;
    background: radial-gradient(circle, #d2d2e6, #bebed2, #aaaabe, #9696aa);
    animation: flowing 10s linear infinite;
    background-size: 400% 400%;
    padding: 20px 50px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  div.hint {
    background-color: #bebed2;
    padding: 10px 50px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  div.hint1, div.hint2 {
    width: 250px;
    height: 120px;
    border: 1px solid #636363;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 6px 6px 2px 1px rgba(99, 99, 99, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center; }
    div.hint1:hover, div.hint2:hover {
      background-color: #ffffdc; }
    div.hint1.hintrevealed, div.hint2.hintrevealed {
      background-color: #f2dede;
      box-shadow: -6px 6px 2px 1px rgba(99, 99, 99, 0.5); }
  div.tile {
    font-size: 60px;
    height: 80px;
    width: 80px;
    background-color: white;
    border: 1px solid #636363;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 6px 6px 2px 1px rgba(99, 99, 99, 0.5); }
    div.tile:hover {
      background-color: #ffffdc; }
    div.tile.chosen {
      animation: bounce 0.3s ease-out 1;
      box-shadow: -6px 6px 2px 1px rgba(99, 99, 99, 0.5); }
  div #ranking1, div #ranking2, div #ranking3, div #ranking4, div #ranking5, div #ranking6, div #ranking7 {
    display: none; }
  div.society {
    display: none;
    padding: 50px;
    background-color: #f2dede; }
  div.caste {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }

button {
  margin: 20px;
  height: 80px;
  width: 160px;
  color: black;
  border: 2px solid #636363;
  border-radius: 40px;
  background-color: white;
  background: linear-gradient(45deg, #e696a0, #efb3b3, #f0c8c8, #bebed2, #aaaabe, #9696aa);
  background-size: 400% 400%;
  animation: flowing 5s linear infinite; }
  button:hover {
    border: 3px solid white;
    height: 90px;
    width: 180px;
    color: white; }
    button:hover p {
      font-size: 35px; }

p {
  font-family: 'Special Elite', cursive;
  line-height: 35px;
  font-size: 30px; }

a {
  text-decoration: none;
  color: #636363; }
  a:hover {
    color: #9696aa; }

span.em {
  font-style: italic; }

@keyframes move1 {
  0% {
    left: 0px;
    top: 0px; }
  50% {
    left: 31%;
    top: 500px; }
  100% {
    left: 31%;
    top: 0px; } }
@keyframes move2 {
  0% {
    left: 0px;
    top: 0px; }
  50% {
    left: 71%;
    top: 300px; }
  100% {
    left: 71%;
    top: 0px; } }
@keyframes move3 {
  0% {
    left: 0px;
    top: 0px; }
  50% {
    left: -18%;
    top: 200px; }
  100% {
    left: -18%;
    top: 0px; } }
@keyframes move4 {
  0% {
    left: 0px;
    top: 0px;
    transform: skewY(-35deg); }
  15% {
    left: 65%;
    top: 0px;
    transform: skewY(-35deg) rotate(-10deg); }
  20% {
    left: 65%;
    top: 0px;
    transform: skewY(0) rotate(0deg); }
  25% {
    left: 65%;
    top: 0px;
    transform: skewY(0) rotate(10deg); }
  30% {
    left: 65%;
    top: 0px;
    transform: skewY(0) rotate(0deg); }
  35% {
    left: 65%;
    top: 0px;
    transform: skewY(0) rotate(-8deg); }
  40% {
    left: 65%;
    top: 0px;
    transform: skewY(0) rotate(0deg); }
  45% {
    left: 65%;
    top: 0px;
    transform: skewY(0) rotate(8deg); }
  50% {
    left: 65%;
    top: 0px;
    transform: skewY(0) rotate(0deg); }
  55% {
    left: 65%;
    top: 0px;
    transform: skewY(0) rotate(-6deg); }
  60% {
    left: 65%;
    top: 0px;
    transform: skewY(0) rotate(0deg); }
  65% {
    left: 65%;
    top: 0px;
    transform: skewY(0) rotate(6deg); }
  70% {
    left: 65%;
    top: 0px;
    transform: skewY(0) rotate(0deg); }
  75% {
    left: 65%;
    top: 0px;
    transform: skewY(0) rotate(-4deg); }
  80% {
    left: 65%;
    top: 0px;
    transform: skewY(0) rotate(0deg); }
  85% {
    left: 65%;
    top: 0px;
    transform: skewY(0) rotate(4deg); }
  90% {
    left: 65%;
    top: 0px;
    transform: skewY(0) rotate(0deg); }
  95% {
    left: 65%;
    top: 0px;
    transform: skewY(0) rotate(-2deg); }
  100% {
    left: 65%;
    top: 0px;
    transform: skewY(0); } }
@keyframes move5 {
  0% {
    left: 0px;
    top: 0px; }
  50% {
    left: -38%;
    top: 300px; }
  100% {
    left: -38%;
    top: 0px; } }
@keyframes move6 {
  0% {
    left: 0px;
    top: 0px; }
  50% {
    left: 7%;
    top: 400px; }
  100% {
    left: 7%;
    top: 0px; } }
@keyframes move7 {
  0% {
    left: 0px;
    top: 0px; }
  50% {
    left: -6.25%;
    top: 200px; }
  100% {
    left: -6.25%;
    top: 0px; } }
@keyframes move8 {
  0% {
    left: 0px;
    top: 0px; }
  50% {
    left: -38%;
    top: 300px; }
  100% {
    left: -38%;
    top: 0px; } }
@keyframes move9 {
  0% {
    left: 0px;
    top: 0px; }
  50% {
    left: -24%;
    top: 250px; }
  100% {
    left: -24%;
    top: 0px; } }
@keyframes move10 {
  0% {
    left: 0px;
    top: 0px; }
  50% {
    left: -75%;
    top: 200px; }
  100% {
    left: -75%;
    top: 0px; } }
@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes flowing {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@keyframes bounce {
  0% {
    transform: translateY(0); }
  50% {
    transform: translateY(-20px); }
  100% {
    transform: translateY(0); } }
@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes deblink {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }
@media only screen and (max-width: 1200px) {
  main {
    width: 100%; }

  header {
    font-size: 50px;
    text-align: left;
    margin-bottom: 10px; }

  div.masthead {
    padding-top: 20px;
    padding-bottom: 10px; }
  div.contents, div.timer, div.score {
    width: 200px;
    padding: 8px 5px 2px 5px; }
  div.question {
    height: 330px; }
  div.anagramboard {
    height: 280px;
    padding: 0 20px; }
  div.anagramrow {
    height: 68px; }
  div.answer {
    height: 255px; }
  div.answerboard {
    height: 205px;
    padding: 0 20px; }
  div.hint {
    padding: 10px 20px; }
  div.hint1, div.hint2 {
    width: 165px;
    height: 85px;
    padding: 10px;
    box-shadow: 3px 3px 1px 0.5px rgba(99, 99, 99, 0.5); }
    div.hint1.hintrevealed, div.hint2.hintrevealed {
      box-shadow: -3px 3px 1px 0.5px rgba(99, 99, 99, 0.5); }
  div.tile {
    font-size: 35px;
    height: 52px;
    width: 52px;
    padding: 10px;
    margin: 8px;
    box-shadow: 3px 3px 1px 0.5px rgba(99, 99, 99, 0.5); }
    div.tile.chosen {
      box-shadow: -3px 3px 1px 0.5px rgba(99, 99, 99, 0.5); }

  p {
    font-size: 20px;
    line-height: 25px; }

  button {
    margin: 10px;
    height: 60px;
    width: 120px;
    border-radius: 30px; }
    button:hover {
      height: 70px;
      width: 140px; }
      button:hover p {
        font-size: 25px; } }
@media only screen and (max-width: 800px) {
  header {
    font-size: 35px;
    text-align: left;
    margin-bottom: 10px; }

  div.control {
    flex-direction: column; }
  div.question {
    height: 223px; }
  div.anagramboard {
    height: 173px;
    padding: 0 15px; }
  div.anagramrow {
    height: 42px; }
  div.answer {
    height: 180px; }
  div.answerboard {
    height: 130px;
    padding: 0 15px; }
  div.hint {
    height: 100px;
    padding: 8px 15px; }
  div.hint1, div.hint2 {
    width: 130px;
    height: 85px;
    padding: 5px;
    box-shadow: 1.5px 1.5px 0.5px 0.25px rgba(99, 99, 99, 0.5); }
    div.hint1.hintrevealed, div.hint2.hintrevealed {
      box-shadow: -1.5px 1.5px 0.5px 0.25px rgba(99, 99, 99, 0.5); }
  div.tile {
    font-size: 25px;
    height: 37px;
    width: 37px;
    padding: 6px;
    margin: 2.5px;
    border-radius: 3px;
    box-shadow: 1.5px 1.5px 0.5px 0.25px rgba(99, 99, 99, 0.5); }
    div.tile.chosen {
      box-shadow: -1.5px 1.5px 0.5px 0.25px rgba(99, 99, 99, 0.5); } }

/*# sourceMappingURL=style.css.map */
