* {
  box-sizing: border-box; }

body {
  background-color: white; }

main {
  margin: 15px auto;
  width: 80%;
  height: 100%; }

header {
  font-family: 'Jacques Francois Shadow', cursive;
  color: #636363;
  font-size: 50px;
  text-align: left;
  margin-bottom: 15px; }

section {
  display: none;
  width: 100%;
  visibility: visible;
  opacity: 1;
  animation: fade 2s; }
  section.intro {
    display: block; }

div {
  text-align: center; }
  div.control {
    background-color: #efb3b3;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px; }
  div.contents, div.timer, div.score {
    text-align: center;
    width: 210px;
    padding: 10px; }
  div.timer {
    border: 1px solid #636363;
    background-color: #f2dede; }
  div.introtop, div.finaltop {
    padding: 50px;
    background-color: #d2d2e6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  div.anagramboard {
    padding: 0 20px;
    background-color: #d2d2e6;
    background: radial-gradient(circle, #d2d2e6, #bebed2, #aaaabe, #9696aa);
    background-size: 400% 400%;
    height: 400px;
    font-family: 'Acme', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    animation: flowing 10s linear infinite; }
  div.anagramrow {
    margin: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
  div.intromiddle, div.finalmiddle {
    background-color: #f2dede;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  div.answerboard {
    background-color: #f2dede;
    background: radial-gradient(circle, #e696a0, #efb3b3, #f0c8c8, #f2dede);
    background-size: 400% 400%;
    padding: 0 20px;
    height: 300px;
    font-family: 'Acme', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    animation: flowing 10s linear infinite; }
  div.introbottom, div.finalbottom {
    background-color: #d2d2e6;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  div.hint {
    background-color: #bebed2;
    padding: 25px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  div.hint1, div.hint2 {
    width: 185px;
    height: 80px;
    border: 1px solid #636363;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    div.hint1:hover, div.hint2:hover {
      border: 2px solid black; }
  div.hintrevealed {
    background-color: #f2dede; }
  div.tile {
    font-size: 60px;
    height: 80px;
    width: 80px;
    background-color: white;
    border: 1px solid #636363;
    border-radius: 10px;
    padding: 10px;
    margin: 10px; }
    div.tile:hover {
      border: 2px solid black; }
  div #ranking1, div #ranking2, div #ranking3, div #ranking4, div #ranking5, div #ranking6, div #ranking7 {
    display: none; }

button {
  margin: 20px;
  height: 50px;
  width: 90px;
  color: black;
  border: 2px solid #636363;
  border-radius: 30px;
  background-color: white; }
  button.playagain {
    height: 65px;
    width: 105px; }
  button.rainbow {
    background-color: white;
    background: linear-gradient(45deg, #e696a0, #efb3b3, #f0c8c8, #bebed2, #aaaabe, #9696aa);
    background-size: 400% 400%;
    animation: flowing 5s linear infinite; }
  button:hover {
    border: 3px solid white;
    background-color: black;
    color: white; }

p {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  line-height: 25px;
  font-size: 20px; }

span.em {
  font-style: italic; }

a {
  text-decoration: none;
  color: inherit; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes flowing {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
@media only screen and (max-width: 1200px) {
  main {
    margin: 20px auto;
    width: 90%; }

  header {
    font-size: 40px;
    text-align: left;
    margin-bottom: 10px; }

  div.anagramboard {
    height: 280px;
    padding: 0 10px; }
  div.answerboard {
    height: 205px;
    padding: 0 10px; }
  div.hint {
    padding: 20px; }
  div.hint1, div.hint2 {
    width: 165px;
    height: 60px;
    padding: 10px; }
  div.tile {
    font-size: 35px;
    height: 52px;
    width: 52px;
    padding: 10px;
    margin: 8px; }

  p {
    font-size: 18px;
    line-height: 22px; } }
@media only screen and (max-width: 800px) {
  main {
    margin: 5px auto; }

  header {
    font-size: 25px;
    text-align: left;
    margin-bottom: 10px; }

  div.control {
    flex-direction: column; }
  div.contents, div.timer, div.score {
    width: 160px;
    padding: 5px; }
  div.anagramboard {
    height: 157px;
    padding: 0; }
  div.answerboard {
    height: 117px;
    padding: 0; }
  div.hint {
    padding: 5px; }
  div.hint1, div.hint2 {
    width: 108px;
    height: 60px;
    padding: 5px; }
  div.tile {
    font-size: 25px;
    height: 33.5px;
    width: 33.5px;
    padding: 4px;
    margin: 2.5px;
    border-radius: 3px; }

  button {
    margin: 5px;
    width: 70px; }

  p {
    font-size: 15px;
    line-height: 17px; } }

/*# sourceMappingURL=style.css.map */
