* {
  box-sizing: border-box; }

body {
  background-color: white; }

main {
  margin: 20px auto;
  width: 80%;
  height: 100%; }

header {
  font-family: 'Jacques Francois Shadow', cursive;
  color: #727272;
  font-size: 50px;
  text-align: left;
  margin-bottom: 15px; }

section {
  display: none;
  width: 100%;
  visibility: visible;
  opacity: 1;
  animation: fade 2s; }
  section.intro {
    display: block; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
div {
  text-align: center; }
  div.control {
    background-color: #f3e1dd;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  div.contents, div.timer, div.score {
    text-align: center;
    width: 180px;
    padding: 10px; }
  div.introtop, div.finaltop {
    padding: 50px;
    background-color: #d2d2d2;
    background: radial-gradient(circle, #d2d2d2 0%, #f3e1dd 100%);
    font-family: 'Acme', sans-serif; }
  div.anagramboard {
    padding: 0 20px;
    background-color: #d2d2d2;
    height: 300px;
    font-family: 'Acme', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
  div.anagramrow {
    margin: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap; }
  div.intromiddle, div.finalmiddle {
    background-color: #f3e1dd;
    background: radial-gradient(circle, #f3e1dd 0%, #d2d2d2 100%);
    padding: 50px;
    font-family: 'Acme', sans-serif; }
  div.answerboard {
    background-color: #f3e1dd;
    padding: 50px;
    height: 300px;
    font-family: 'Acme', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap; }
  div.introbottom, div.finalbottom {
    background-color: #d2d2d2;
    background: radial-gradient(circle, #d2d2d2 0%, #f3e1dd 100%);
    padding: 50px; }
  div.hint {
    background-color: #d2d2d2;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  div.hint1, div.hint2 {
    width: 200px;
    height: 80px;
    border: 1px solid black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  div.hintrevealed {
    background-color: #f3e1dd; }
  div.tile {
    font-size: 60px;
    height: 80px;
    width: 80px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 10px; }
    div.tile:hover {
      border: 2px solid black; }

button {
  margin: 20px;
  height: 50px;
  width: 90px;
  color: black;
  border: 1px solid black;
  border-radius: 30px;
  background-color: white; }
  button:hover {
    border: 1px solid #f3e1dd;
    background-color: black;
    color: white; }

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px; }

a {
  text-decoration: none;
  color: inherit; }

@media only screen and (max-width: 1200px) {
  main {
    width: 85%; }

  header {
    font-size: 45px;
    margin-bottom: 10px; }

  div.anagramboard, div.answerboard {
    height: 285px;
    padding: 0 10px; }
  div.hint {
    padding: 20px; }
  div.hint1, div.hint2 {
    width: 150px;
    height: 60px;
    padding: 10px; }
  div.tile {
    font-size: 50px;
    height: 70px;
    width: 70px;
    padding: 10px;
    margin: 10px; }
    div.tile:hover {
      border: 2px solid black; } }
@media only screen and (max-width: 1000px) {
  main {
    margin: 20px auto;
    width: 90%; }

  header {
    font-size: 40px;
    text-align: left;
    margin-bottom: 10px; }

  div.anagramboard, div.answerboard {
    height: 275px;
    padding: 0 10px; }
  div.hint {
    padding: 20px; }
  div.hint1, div.hint2 {
    width: 150px;
    height: 60px;
    padding: 10px; }
  div.tile {
    font-size: 35px;
    height: 52px;
    width: 52px;
    padding: 10px;
    margin: 8px; }
    div.tile:hover {
      border: 2px solid black; }

  p {
    font-size: 18px; } }
@media only screen and (max-width: 700px) {
  main {
    margin: 5px auto; }

  header {
    font-size: 25px;
    text-align: left;
    margin-bottom: 10px; }

  div.control {
    flex-direction: column; }
  div.contents, div.timer, div.score {
    padding: 5px; }
  div.anagramboard, div.answerboard {
    height: 160px;
    padding: 0; }
  div.hint {
    padding: 5px; }
  div.hint1, div.hint2 {
    width: 100px;
    height: 60px;
    padding: 5px; }
  div.tile {
    font-size: 25px;
    height: 33.5px;
    width: 33.5px;
    padding: 4px;
    margin: 2.5px;
    border-radius: 3px; }
    div.tile:hover {
      border: 2px solid black; }

  button {
    margin: 5px;
    width: 70px; }

  p {
    font-size: 15px; } }

/*# sourceMappingURL=style.css.map */
