@keyframes move1 {
    0%   { left:0px; top:0px;}
    50%  { left:31.5%; top:500px;}
    100% { left:31.5%; top:0px;}
}

@keyframes move2 {
    0%   { left:0px; top:0px;}
    50%  { left:71%; top:300px;}
    100% { left:71%; top:0px;}
}

@keyframes move3 {
    0%   { left:0px; top:0px;}
    50%  { left:-19%; top:200px;}
    100% { left:-19%; top:0px;}
}

@keyframes move4 {
    0%   { left:0px; top:0px; transform: skewY(-35deg);}
    15%   { left:64%; top:0px; transform: skewY(-35deg) rotate(-10deg);}
    20%   { left:64%; top:0px; transform: skewY(0) rotate(0deg);}
    25%   { left:64%; top:0px; transform: skewY(0) rotate(10deg);}
    30%   { left:64%; top:0px; transform: skewY(0) rotate(0deg);}
    35%   { left:64%; top:0px; transform: skewY(0) rotate(-8deg);}
    40%   { left:64%; top:0px; transform: skewY(0) rotate(0deg);}
    45%   { left:64%; top:0px; transform: skewY(0) rotate(8deg);}
    50%   { left:64%; top:0px; transform: skewY(0) rotate(0deg);}
    55%   { left:64%; top:0px; transform: skewY(0) rotate(-6deg);}
    60%   { left:64%; top:0px; transform: skewY(0) rotate(0deg);}
    65%   { left:64%; top:0px; transform: skewY(0) rotate(6deg);}
    70%   { left:64%; top:0px; transform: skewY(0) rotate(0deg);}
    75%   { left:64%; top:0px; transform: skewY(0) rotate(-4deg);}
    80%   { left:64%; top:0px; transform: skewY(0) rotate(0deg);}
    85%   { left:64%; top:0px; transform: skewY(0) rotate(4deg);}
    90%   { left:64%; top:0px; transform: skewY(0) rotate(0deg);}
    95%   { left:64%; top:0px; transform: skewY(0) rotate(-2deg);}
    100%  { left:64%; top:0px; transform: skewY(0);}
}

@keyframes move5 {
    0%   { left:0px; top:0px;}
    50%  { left:-38%; top:300px;}
    100% { left:-38%; top:0px;}
}

@keyframes move6 {
    0%   { left:0px; top:0px;}
    50%  { left:7%; top:400px;}
    100% { left:7%; top:0px;}
}

@keyframes move7 {
    0%   { left:0px; top:0px;}
    50%  { left:-6%; top:200px;}
    100% { left:-6%; top:0px;}
}

@keyframes move8 {
    0%   { left:0px; top:0px;}
    50%  { left:-38.5%; top:300px;}
    100% { left:-38.5%; top:0px;}
}

@keyframes move9 {
    0%   { left:0px; top:0px;}
    50%  { left:-25%; top:250px;}
    100% { left:-25%; top:0px;}
}

@keyframes move10 {
    0%   { left:0px; top:0px;}
    50%  { left:-77.25%; top:200px;}
    100% { left:-77.25%; top:0px;}
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flowing {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes deblink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
