
$base: rgba(255,255,255,1);
$header: rgba(99,99,99,1);
$shadow: rgba(99,99,99,0.5);
$grey: rgba(210,210,230,1);
$slate: rgba(190,190,210,1);
$sky: rgba(170,170,190,1);
$ocean: rgba(150,150,170,1);
$blush: rgba(230,150,160,1);
$rose: rgba(239,179,179,1);
$kitten: rgba(240,200,200,1);
$pink: rgba(242,222,222,1);
$lemon: rgba(255,255,220,1);
$black: rgba(0,0,0,1);
$p1: rgba(55,132,55,1);
$p2: rgba(117,38,117,1);
