header {
  font-family: 'Special Elite', cursive;
  color: $header;
  text-shadow: 2px 2px $header;
  font-size: 60px;
  text-align: center;
  margin-bottom: 15px;

  &.move1 {
    position: relative;
    animation: move1 5s ease-out 2s forwards;
  }

  &.move2 {
    position: relative;
    animation: move2 5s linear 2s forwards;
  }

  &.move3 {
    position: relative;
    animation: move3 5s ease-in 2s forwards;
  }

  &.move4 {
    position: relative;
    animation: move4 6s ease-in 7.5s forwards;
  }

  &.move5 {
    position: relative;
    animation: move5 5s linear 2s forwards;
  }

  &.move6 {
    position: relative;
    animation: move6 5s ease-out 2s forwards;
  }

  &.move7 {
    position: relative;
    animation: move7 5s ease-in 2s forwards;
  }

  &.move8 {
    position: relative;
    animation: move8 5s linear 2s forwards;
  }

  &.move9 {
    position: relative;
    animation: move9 5s ease-out 2s forwards;
  }

  &.move10 {
    position: relative;
    animation: move10 5s linear 2s forwards;
  }

}



div {

  &.music {
    z-index: 2;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 25px;
    right: 25px;
    p {
      font-size: 30px;
      line-height: 50px;
      color: $shadow;
    }
  }

  &.cross {
    display: none;
    z-index: 1;
    height: 50px;
    width: 50px;
    position: fixed;
    top: 20px;
    right: 22px;
    p {
      font-size: 35px;
      line-height: 55px;
      color: $shadow;
    }
  }

  &.masthead {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 20px;
  }

  &.introtop {
    padding: 50px;
    background-color: $grey;
    background: radial-gradient(circle, $grey, $slate, $sky, $ocean);
    animation: flowing 10s linear infinite;
    background-size: 400% 400%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &.intromiddle {
    background-color: $pink;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &.introbottom {
    background-color: $grey;
    background: radial-gradient(circle, $grey, $slate, $sky, $ocean);
    animation: flowing 10s linear infinite;
    background-size: 400% 400%;
    padding: 20px 50px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &.identities {
    background-color: $pink;
    padding: 20px 0;
    width: 100%;
    height: 300px;
    display: none;
  }

  &.form {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &.field {
    padding: 20px;
  }

}

input {
  font-family: 'Special Elite', cursive;
  font-size: 30px;
  height: 50px;
  width: 100%;
  max-width: 600px;
  padding: 20px 10px 10px 10px;
}

#player1name {
    color: $p1;
}

#player2name {
    color: $p2;
}


@media only screen and (max-width: 1200px) {

  header {
    font-size: 50px;
    text-align: left;
    margin-bottom: 10px;
  }

  div {

    &.masthead {
      padding-top: 20px;
      padding-bottom: 10px;
    }
  }

}


@media only screen and (max-width: 800px) {

  header {
    font-size: 35px;
    text-align: left;
    margin-bottom: 10px;
  }


  div {

    &.music {
      top: 20px;
      right: 20px;
    }

    &.identities {
      height: 350px;
    }


    &.form {
      flex-direction: column;
    }
  }

}


@media only screen and (max-device-width: 1040px) {

  header {
    font-size: 80px;
      &.move1, &.move2, &.move3, &.move4, &.move5, &.move6, &.move7, &.move8, &.move9, &.move10 {
        animation: none;
      }
  }

  div {

    &.masthead {
      width: 90%;
    }

    &.music {
      height: 100px;
      width: 100px;
      top: 50px;
      right: 50px;
      p {
        font-size: 60px;
        line-height: 100px;
      }
    }

    &.cross {
      height: 100px;
      width: 100px;
      top: 40px;
      right: 44px;
      p {
        font-size: 70px;
        line-height: 110px;
      }
    }

    &.introtop {
      padding: 5px;
      height: 600px;
    }

    &.intromiddle {
      padding: 30px 5px;
    }

    &.introbottom {
      height: 200px;
    }

    &.identities {
      height: 600px;
      padding: 20px;
    }


    &.form {
      flex-direction: column;
      padding: 5px;
      width: 100%;
    }

    &.field {
      width: 80%;
    }

  }

  input {
    font-size: 70px;
    height: 90px;
    width: 100%;
    max-width: 100%;
  }


}
