div {

  &.control {
    background-color: $rose;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 80px;
  }

  &.contents, &.timer, &.score {
    text-align: center;
    width: 280px;
    padding: 14px 10px 6px 10px;
  }

  &.timer {
    border: 1px solid $header;
    background-color: $pink;
    p {
      &.warning {
        color: red;
      }
    }
  }
  &.question {
    height: 450px;
    padding: 0 15px;
    background-color: $grey;
    background: radial-gradient(circle, $grey, $slate, $sky, $ocean);
    background-size: 400% 400%;
    animation: flowing 10s linear infinite;
  }

  &.instruction {
    color: $base;
    padding: 15px 50px;
    height: 50px;
    text-align: right;
    animation: blink 8s ease-in-out infinite;
  }

  &.deinstruction {
    color: $base;
    padding: 15px 50px;
    height: 50px;
    text-align: right;
    animation: deblink 8s ease-in-out infinite;
  }

  &.anagramboard {
    padding: 0 50px;
    height: 400px;
    font-family: 'Acme', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &.anagramrow {
    margin: 0 5px;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  &.answer {
    height: 350px;
    background-color: $pink;
    background: radial-gradient(circle, $blush, $rose, $kitten, $pink);
    background-size: 400% 400%;
    animation: flowing 10s linear infinite;
  }

  &.answerboard {
    padding: 0 50px;
    height: 300px;
    font-family: 'Acme', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &.hint {
    background-color: $slate;
    padding: 10px 50px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &.hint1 , &.hint2 {
    width: 250px;
    height: 120px;
    border: 1px solid $header;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 6px 6px 2px 1px $shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:hover {
      background-color: $lemon;
    }
    &.hintrevealed {
      background-color: $pink;
      box-shadow: -6px 6px 2px 1px $shadow;
    }
  }

  &.tile {
    font-size: 60px;
    height: 80px;
    width: 80px;
    background-color: $base;
    border: 1px solid $header;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 6px 6px 2px 1px $shadow;

    &:hover {
      background-color: $lemon;
    }

    &.chosen {
      animation: bounce 0.3s ease-out 1;
      box-shadow: -6px 6px 2px 1px $shadow;
    }

  }

}

@media only screen and (max-width: 1200px) {

  div {

    &.control {
      padding: 10px 20px;
    }

    &.contents, &.timer, &.score {
      width: 250px;
      padding: 8px 5px 2px 5px;
    }

    &.question {
      height: 330px;
    }

    &.anagramboard {
      height: 280px;
      padding: 0 20px;
    }

    &.anagramrow {
      height: 68px;
    }

    &.answer {
      height: 255px;
    }

    &.answerboard {
      height: 205px;
      padding: 0 20px;
    }

    &.hint {
      padding: 10px 20px;
    }

    &.hint1 , &.hint2 {
      width: 200px;
      height: 85px;
      padding: 10px;
      box-shadow: 3px 3px 1px 0.5px $shadow;
      &.hintrevealed {
        box-shadow: -3px 3px 1px 0.5px $shadow;
      }
    }

    &.tile {
      font-size: 35px;
      height: 52px;
      width: 52px;
      padding: 10px;
      margin: 8px;
      box-shadow: 3px 3px 1px 0.5px $shadow;
      &.chosen {
        box-shadow: -3px 3px 1px 0.5px $shadow;
      }
    }


  }


}


@media only screen and (max-width: 800px) {


  div {

    &.control {
      flex-direction: column;
    }

    &.contents, &.timer, &.score {
      width: 60%;
      padding: 8px 5px 2px 5px;
    }

    &.question {
      height: 270px;
    }

    &.anagramboard {
      height: 220px;
      padding: 0 15px;
    }

    &.anagramrow {
      height: 55px;
    }

    &.answer {
      height: 215px;
    }

    &.answerboard {
      height: 165px;
      padding: 0 15px;
    }

    &.hint {
      height: 100px;
      padding: 8px 15px;
    }

    &.hint1 , &.hint2 {
      width: 130px;
      height: 85px;
      padding: 5px;
      box-shadow: 1.5px 1.5px 0.5px 0.25px $shadow;
      &.hintrevealed {
        box-shadow: -1.5px 1.5px 0.5px 0.25px $shadow;
      }
      p {
        line-height: 20px;
      }
    }

    &.tile {
      font-size: 35px;
      height: 45px;
      width: 45px;
      padding: 6px;
      margin: 2.5px;
      border-radius: 3px;
      box-shadow: 1.5px 1.5px 0.5px 0.25px $shadow;
      &.chosen {
        box-shadow: -1.5px 1.5px 0.5px 0.25px $shadow;
      }
    }


  }

}
@media only screen and (max-device-width: 1040px) {

  div {


    &.control {
      flex-direction: column;
      margin-top: 20px;
      padding: 5px;
    }

    &.contents, &.timer, &.score {
      text-align: center;
      width: 60%;
      padding: 14px 10px 6px 10px;
    }



    &.question {
      height: 570px;
      padding: 0 15px;
      background-color: $grey;
      background: radial-gradient(circle, $grey, $slate, $sky, $ocean);
      background-size: 400% 400%;
      animation: flowing 10s linear infinite;
    }

    &.instruction, &.deinstruction {
      padding: 10px;
      p {
        font-size: 45px;
      }
    }

    &.anagramboard {
      padding: 0 2px;
      height: 520px;
      font-family: 'Acme', sans-serif;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &.anagramrow {
      margin: 0;
      height: 130px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }

    &.tile {
      font-size: 75px;
      height: 105px;
      width: 83px;
      padding: 15px 0 0 0;
    }


    &.answer {
      height: 440px;
    }

    &.answerboard {
      padding: 0 4px;
      height: 390px;
    }

    &.hint {
      padding: 5px;
      height: 320px;
    }

    &.hint1 , &.hint2 {
      width: 300px;
      height: 280px;
      padding: 5px;
    }


  }

}
