div {

  &.control {
    background-color: $rose;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 20px;
  }

  &.contents, &.timer, &.score {
    text-align: center;
    width: 250px;
    padding: 8px 5px 2px 5px;
  }

  &.timer {
    border: 1px solid $header;
    background-color: $pink;
    p {
      &.warning {
        color: red;
      }
    }
  }
  &.question {
    height: 390px;
    padding: 0 15px;
    background-color: $grey;
    background: radial-gradient(circle, $grey, $slate, $sky, $ocean);
    background-size: 400% 400%;
    animation: flowing 10s linear infinite;
  }

  &.instruction {
    color: $base;
    padding: 15px 50px;
    height: 50px;
    text-align: right;
    animation: blink 8s ease-in-out infinite;
  }

  &.deinstruction {
    color: $base;
    padding: 15px 50px;
    height: 50px;
    text-align: right;
    animation: deblink 8s ease-in-out infinite;
  }

  &.anagramboard {
    padding: 0 20px;
    height: 340px;
    font-family: 'Acme', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &.anagramrow {
    margin: 0 5px;
    height: 85px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  &.answer {
    height: 305px;
    background-color: $pink;
    background: radial-gradient(circle, $blush, $rose, $kitten, $pink);
    background-size: 400% 400%;
    animation: flowing 10s linear infinite;
  }

  &.answerboard {
    padding: 0 20px;
    height: 255px;
    font-family: 'Acme', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &.hint {
    background-color: $slate;
    padding: 5px 20px;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &.hint1 , &.hint2 {
    width: 200px;
    height: 60px;
    border: 1px solid $header;
    border-radius: 10px;
    padding: 0 5px;
    box-shadow: 3px 3px 1px 0.5px $shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:hover {
      background-color: $lemon;
    }
    &.hintrevealed {
      background-color: $pink;
      box-shadow: -3px 3px 1px 0.5px $shadow;
    }
  }

  &.tile {
    font-size: 45px;
    height: 65px;
    width: 65px;
    background-color: $base;
    border: 1px solid $header;
    border-radius: 10px;
    padding: 10px;
    margin: 9px 7px;
    box-shadow: 3px 3px 1px 0.5px $shadow;
    &:hover {
      background-color: $lemon;
    }

    &.chosen {
      animation: bounce 0.3s ease-out 1;
      box-shadow: -3px 3px 1px 0.5px $shadow;
    }

  }

}


@media only screen and (max-width: 800px) {

  div {

    &.contents, &.timer, &.score {
      width: 225px;
      padding: 8px 2px 2px 2px;
    }

    &.tile {
      width: 60px;
    }

  }

}


@media only screen and (max-width: 745px) {


  div {

    &.control {
      margin-top: 10px;
      padding: 3px;
      flex-direction: column;
    }

    &.contents, &.timer, &.score {
      width: 60%;
      padding: 2px 5px;
    }

    &.instruction, &.deinstruction {
      padding: 5px;
      height: 30px;
    }

    &.question {
      height: 210px;
    }

    &.anagramboard {
      height: 180px;
      padding: 0 3px;
    }

    &.anagramrow {
      height: 45px;
    }

    &.answer {
      height: 165px;
    }

    &.answerboard {
      height: 135px;
      padding: 0 15px;
    }

    &.hint {
      height: 90px;
      padding: 8px;
    }

    &.hint1 , &.hint2 {
      width: 90px;
      height: 70px;
      padding: 5px;
      box-shadow: 1.5px 1.5px 0.5px 0.25px $shadow;
      &.hintrevealed {
        box-shadow: -1.5px 1.5px 0.5px 0.25px $shadow;
      }
      p {
        line-height: 20px;
      }
    }

    &.tile {
      font-size: 25px;
      height: 40px;
      width: 26.5px;
      padding: 7px 0 0 0;
      margin: 2.5px;
      border-radius: 3px;
      box-shadow: 1.5px 1.5px 0.5px 0.25px $shadow;
      &.chosen {
        box-shadow: -1.5px 1.5px 0.5px 0.25px $shadow;
      }
    }


  }

}
