
* {
  box-sizing: border-box;
}

body {
  background-color: $base;
  background: repeating-linear-gradient(
  -55deg,
  $kitten,
  $kitten 40px,
  $slate 40px,
  $slate 80px
);
}

main {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

section {
  display: none;
  width: 100%;
  visibility: visible;
  opacity: 1;
  animation: fade 0.5s;

  &.intro {
    display: block;
  }
}

div {
  text-align: center;
}


p {
  font-family: 'Special Elite', cursive;
  line-height: 35px;
  font-size: 30px;
  &.small {
    line-height: 25px;
    font-size: 20px;
  }
}

a {
  text-decoration: none;
  color: $header;
  &:hover {
    color: $ocean;
  }
}

span {
  &.em {
    font-style: italic;
  }
}


@media only screen and (max-width: 1200px) {

  main {
    width: 100%
  }

  p {
    font-family: 'Special Elite', cursive;
    line-height: 30px;
    font-size: 25px;
    &.small {
      line-height: 25px;
      font-size: 20px;
    }
  }

}


@media only screen and (max-device-width: 1040px) {

  p {
    line-height: 70px;
    font-size: 60px;
    &.small {
      line-height: 50px;
      font-size: 40px;
    }
  }

}
