* {
  box-sizing: border-box;
}

body {
  background-color: white;;
}


main {
  margin: 40px auto;
  width: 80%;
  height: 100%;
}

header {
  font-family: 'Londrina Sketch', cursive;
  font-size: 30px;
  text-align: left;
  padding: 30px 0 10px 0;
}

section {
  display: none;
  width: 100%;
  visibility: visible;
  opacity: 1;
  animation: fade 2s;

  &.intro {
    display: block;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

div {
  text-align: center;

  &.control {
    background-color: rgba(243,225,221,1);
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &.contents, &.score {
    padding: 10px;
  }


  &.question {
    padding: 50px;
    background-color: rgba(200,200,200,1);
  }

  &.anagramboard {
    font-family: 'Acme', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
   }

  &.anagramrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  &.answer {
    background-color: rgba(243,225,221,1);
    padding: 50px;
  }

  &.answerboard {
    font-family: 'Acme', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }


  &.hint {
    background-color: rgba(200,200,200,1);
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &.hint1 , &.hint2 {
    border: 1px solid black;
    padding: 20px;
  }

  &.tile {
    font-size: 60px;
    height: 80px;
    width: 80px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
  }

}

button {
  height: 40px;
  width: 80px;
  color: black;
  border: 1px solid black;
  border-radius: 20px;
  background-color: rgba(200,200,200,1);
    &:hover {
      border: 1px solid white;
      background-color: black;
      color: white;
    }




}

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}
