* {
box-sizing: border-box;
}

body {
  background-color: rgba(252, 212, 164, 1);
}

main {
  margin: 40px auto;
  width: 80%;
  height: 100%;
}

div {
  text-align: center;

  &.control {
    background-color: blue;
    height: 50px;
    width: 100%
  }


  &.intro {
    height: 700px;
    width: 100%;
  }

  &.level {
    display: none;
    height: 700px;
    width: 100%;
    visibility: visible;
       opacity: 1;
       animation: fade 2s;
   }

   @keyframes fade {
       0% {
           opacity: 0;
       }

       100% {
           opacity: 1;
       }

  }

  &.question {
    height: 400px;
    background-color: red;
    padding: 50px;
  }
  &.answer {
    height: 200px;
    background-color: papayawhip;
    padding: 50px;
  }
  &.hint {
    height: 100px;
    background-color: grey;
    padding: 50px;
  }


}
