$base: rgba(255,255,255,1);
$header: rgba(99,99,99,1);
$shadow: rgba(99,99,99,0.5);
$grey: rgba(210,210,230,1);
$slate: rgba(190,190,210,1);
$sky: rgba(170,170,190,1);
$ocean: rgba(150,150,170,1);
$blush: rgba(230,150,160,1);
$rose: rgba(239,179,179,1);
$kitten: rgba(240,200,200,1);
$pink: rgba(242,222,222,1);
$lemon: rgba(255,255,220,1);
$black: rgba(0,0,0,1);


* {
  box-sizing: border-box;
}

body {
  background-color: $base;
}

main {
  margin: 0 auto;
  width: 80%;
  height: 100%;
}

header {
  font-family: 'Jacques Francois Shadow', cursive;
  color: $header;
  font-size: 50px;
  text-align: left;
  margin-bottom: 15px;

  &.move1 {
    position: relative;
    animation: move1 2.5s ease-out 2s forwards;
  }

  &.move2 {
    position: relative;
    animation: move2 2.5s linear 2s forwards;
  }

  &.move3 {
    position: relative;
    animation: move3 2.5s ease-in 2s forwards;
  }

  &.move4 {
    position: relative;
    animation: move4 5s ease-in 5s forwards;
  }

  &.move5 {
    position: relative;
    animation: move5 2.5s linear 2s forwards;
  }

  &.move6 {
    position: relative;
    animation: move6 2.5s ease-out 2s forwards;
  }

  &.move7 {
    position: relative;
    animation: move7 2.5s ease-in 2s forwards;
  }

  &.move8 {
    position: relative;
    animation: move8 2.5s linear 2s forwards;
  }

  &.move9 {
    position: relative;
    animation: move9 2.5s ease-out 2s forwards;
  }

  &.move10 {
    position: relative;
    animation: move10 2.5s linear 2s forwards;
  }

}

section {
  display: none;
  width: 100%;
  visibility: visible;
  opacity: 1;
  animation: fade 2s;

  &.intro {
    display: block;
  }
}

div {
  text-align: center;

  &.masthead {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
  }

  &.control {
    background-color: $rose;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 5px 5px 5px;
  }

  &.contents, &.timer, &.score {
    text-align: center;
    width: 210px;
    padding: 10px;
  }

  &.timer {
    border: 1px solid $header;
    background-color: $pink;
    p {
      font-weight: 500;
      &.warning {
        color: red;
      }
    }
  }

  &.introtop, &.finaltop {
    padding: 50px;
    background-color: $grey;
    background: radial-gradient(circle, $grey, $slate, $sky, $ocean);
    animation: flowing 10s linear infinite;
    background-size: 400% 400%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &.question {
    height: 450px;
    background-color: $grey;
    background: radial-gradient(circle, $grey, $slate, $sky, $ocean);
    background-size: 400% 400%;
    animation: flowing 10s linear infinite;
  }

  &.instruction {
    color: $base;
    padding: 15px 20px;
    height: 50px;
    text-align: right;
    animation: blink 8s ease-in-out infinite;
  }

  &.deinstruction {
    color: $base;
    padding: 15px 20px;
    height: 50px;
    text-align: right;
    animation: deblink 8s ease-in-out infinite;
  }

  &.anagramboard {
    padding: 0 20px;
    height: 400px;
    font-family: 'Acme', sans-serif;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &.anagramrow {
    margin: 0 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  &.intromiddle, &.finalmiddle {
    background-color: $pink;
    padding: 20px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &.answer {
    height: 350px;
    background-color: $pink;
    background: radial-gradient(circle, $blush, $rose, $kitten, $pink);
    background-size: 400% 400%;
    animation: flowing 10s linear infinite;
  }

  &.answerboard {
    padding: 0 20px;
    height: 300px;
    font-family: 'Acme', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  &.introbottom, &.finalbottom {
    background-color: $grey;
    background: radial-gradient(circle, $grey, $slate, $sky, $ocean);
    animation: flowing 10s linear infinite;
    background-size: 400% 400%;
    padding: 20px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &.hint {
    background-color: $slate;
    padding: 10px 50px;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &.hint1 , &.hint2 {
    width: 185px;
    height: 80px;
    border: 1px solid $header;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 6px 6px 2px 1px $shadow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &:hover {
      background-color: $lemon;
    }
    &.hintrevealed {
      background-color: $pink;
      box-shadow: -6px 6px 2px 1px $shadow;
    }
  }



  &.tile {
    font-size: 60px;
    height: 80px;
    width: 80px;
    background-color: $base;
    border: 1px solid $header;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 6px 6px 2px 1px $shadow;

    &:hover {
      background-color: $lemon;
    }

    &.chosen {
      animation: bounce 0.3s ease-out 1;
      box-shadow: -6px 6px 2px 1px $shadow;
    }

  }

  #ranking1, #ranking2, #ranking3, #ranking4, #ranking5, #ranking6, #ranking7 {
    display: none;
  }

}

button {
  margin: 20px;
  height: 65px;
  width: 105px;
  color: $black;
  border: 2px solid $header;
  border-radius: 30px;
  background-color: $base;
  background: linear-gradient(45deg, $blush, $rose, $kitten, $slate, $sky, $ocean);
  background-size: 400% 400%;
  animation: flowing 5s linear infinite;
  p {
    font-weight: 500;
  }
  &:hover {
    border: 3px solid $base;
    height: 85px;
    width: 130px;
    border-radius: 40px;
    color: $base;
    p {
      font-size: 30px;
    }
  }
}

p {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
  line-height: 25px;
  font-size: 20px;
}

span {
  &.em {
    font-style: italic;
  }
}

a {
  text-decoration: none;
  color: inherit;
}


@keyframes move1 {
    0%   { left:0px; top:0px;}
    50%  { left:32.5%; top:500px;}
    100% { left:32.5%; top:0px;}
}

@keyframes move2 {
    0%   { left:0px; top:0px;}
    50%  { left:71%; top:300px;}
    100% { left:71%; top:0px;}
}

@keyframes move3 {
    0%   { left:0px; top:0px;}
    50%  { left:-20.5%; top:200px;}
    100% { left:-20.5%; top:0px;}
}

@keyframes move4 {
    0%   { left:0px; top:0px; transform: skewY(-35deg);}
    15%   { left:65%; top:0px; transform: skewY(-35deg) rotate(-10deg);}
    20%   { left:65%; top:0px; transform: skewY(0) rotate(0deg);}
    25%   { left:65%; top:0px; transform: skewY(0) rotate(10deg);}
    30%   { left:65%; top:0px; transform: skewY(0) rotate(0deg);}
    35%   { left:65%; top:0px; transform: skewY(0) rotate(-8deg);}
    40%   { left:65%; top:0px; transform: skewY(0) rotate(0deg);}
    45%   { left:65%; top:0px; transform: skewY(0) rotate(8deg);}
    50%   { left:65%; top:0px; transform: skewY(0) rotate(0deg);}
    55%   { left:65%; top:0px; transform: skewY(0) rotate(-6deg);}
    60%   { left:65%; top:0px; transform: skewY(0) rotate(0deg);}
    65%   { left:65%; top:0px; transform: skewY(0) rotate(6deg);}
    70%   { left:65%; top:0px; transform: skewY(0) rotate(0deg);}
    75%   { left:65%; top:0px; transform: skewY(0) rotate(-4deg);}
    80%   { left:65%; top:0px; transform: skewY(0) rotate(0deg);}
    85%   { left:65%; top:0px; transform: skewY(0) rotate(4deg);}
    90%   { left:65%; top:0px; transform: skewY(0) rotate(0deg);}
    95%   { left:65%; top:0px; transform: skewY(0) rotate(-2deg);}
    100% { left:65%; top:0px; transform: skewY(0);}
}

@keyframes move5 {
    0%   { left:0px; top:0px;}
    50%  { left:-39%; top:300px;}
    100% { left:-39%; top:0px;}
}

@keyframes move6 {
    0%   { left:0px; top:0px;}
    50%  { left:6.25%; top:400px;}
    100% { left:6.25%; top:0px;}
}

@keyframes move7 {
    0%   { left:0px; top:0px;}
    50%  { left:-6.25%; top:200px;}
    100% { left:-6.25%; top:0px;}
}

@keyframes move8 {
    0%   { left:0px; top:0px;}
    50%  { left:-39%; top:300px;}
    100% { left:-39%; top:0px;}
}

@keyframes move9 {
    0%   { left:0px; top:0px;}
    50%  { left:-26.5%; top:250px;}
    100% { left:-26.5%; top:0px;}
}

@keyframes move10 {
    0%   { left:0px; top:0px;}
    50%  { left:-78.5%; top:200px;}
    100% { left:-78.5%; top:0px;}
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes flowing {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes deblink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 1200px) {

  main {
    width: 90%
  }

  header {
    font-size: 40px;
    text-align: left;
    margin-bottom: 10px;
  }

  div {

    &.question {
      height: 330px;
    }

    &.anagramboard {
      height: 280px;
      padding: 0 10px;
    }

    &.answer {
      height: 255px;
    }

    &.answerboard {
      height: 205px;
      padding: 0 10px;
    }

    &.hint {
      padding: 10px 20px;
    }

    &.hint1 , &.hint2 {
      width: 165px;
      height: 60px;
      padding: 10px;
      box-shadow: 3px 3px 1px 0.5px $shadow;
      &.hintrevealed {
        box-shadow: -3px 3px 1px 0.5px $shadow;
      }
    }

    &.tile {
      font-size: 35px;
      height: 52px;
      width: 52px;
      padding: 10px;
      margin: 8px;
      box-shadow: 3px 3px 1px 0.5px $shadow;
      &.chosen {
        box-shadow: -3px 3px 1px 0.5px $shadow;
      }
    }
  }

  p {
    font-size: 18px;
    line-height: 22px;
  }

}


@media only screen and (max-width: 800px) {

  header {
    font-size: 25px;
    text-align: left;
    margin-bottom: 10px;
  }

  div {

    &.control {
      flex-direction: column;
    }

    &.contents, &.timer, &.score {
      width: 180px;
      padding: 5px;
    }

    &.question {
      height: 207px;
    }

    &.anagramboard {
      height: 157px;
      padding: 0 3px;
    }

    &.answer {
      height: 167px;
    }

    &.answerboard {
      height: 117px;
      padding: 0 3px;
    }

    &.hint {
      height: 100px;
      padding: 8px 10px;
    }

    &.hint1 , &.hint2 {
      width: 130px;
      height: 60px;
      padding: 5px;
      box-shadow: 1.5px 1.5px 0.5px 0.25px $shadow;
      &.hintrevealed {
        box-shadow: -1.5px 1.5px 0.5px 0.25px $shadow;
      }
    }

    &.tile {
      font-size: 25px;
      height: 33.5px;
      width: 33.5px;
      padding: 4px;
      margin: 2.5px;
      border-radius: 3px;
      box-shadow: 1.5px 1.5px 0.5px 0.25px $shadow;
      &.chosen {
        box-shadow: -1.5px 1.5px 0.5px 0.25px $shadow;
      }
    }

  }

}
